<section class="blog-section">
    <div class="image-one"><img src="{{ glide src='/assets/backgrounds/whiskey_bg.png' width='500' height='500' fit='crop_focal' }}" alt="Beverage International Distributors"></div>
    <div class="auto-container">
        <div class="sec-title">
            <h2>Latest News</h2>
            <div class="text">Read what's new in the world of B.I.D.</div>
        </div>
        <div class="row">
            
            {{ collection:news limit="3" }}

            {{ if first }}
            <div class="news-block-one col-lg-4">
                <div class="inner-box">
                    <div class="image"><a href="{{ url }}"><img src="{{ glide:news_image width='370' height='387' fit='crop_focal' }}" alt="{{ title }}"></a></div>
                    <div class="content">
                        <div class="date">{{ date format="j M., Y" }}</div>
                        <a href="{{ url }}"><h4>{{ title }}</h4></a>
                    </div>
                </div>
            </div>
            {{ else }}
            <div class="news-block-two col-lg-4">
                <div class="inner-box">
                    <div class="image"><a href="{{ url }}"><img src="{{ glide:news_image width='370' height='202' fit='crop_focal' }}" alt="{{ title }}"></a></div>
                    <div class="content">
                        <div class="date">{{ date format="j M., Y" }}</div>
                        <a href="{{ url }}"><h4>{{ title }}</h4></a>
                        <a href="{{ url }}" class="read-more">Read More ...</a>
                    </div>
                </div>
            </div>
            
            {{ /if }}
        {{ /collection:news }}
        </div>
    </div>
</section>