<!-- Main Footer -->
<footer class="main-footer" style="background-image: url(/assets/backgrounds/footer-glasses.png);">
    <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
            <div class="row clearfix">

                <!--Column-->
                <div class="column col-lg-4 col-sm-6 mb-4">
                    <div class="widget about-widget">

                        <div class="logo">
                            <a href="/" class="d-flex">
                                <img class="img-fluid" src="{{ glide src='/assets/BID_logo_cropped_wText.png' width='300' }}" alt="">
                            </a>
                        </div>


                        <div class="text">{{ global:street_address }}, <br>{{ global:city }}, {{ global:province }}, <br> Canada.</div>
                        <h5>Call Us </h5>
                        <h4><a href="tel:{{ global:phone | slugify | deslugify }}">{{ global:phone }}</a></h4>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-lg-4 col-sm-6 mb-4">
                    <div class="footer-widget links-widget">
                        <h3 class="widget-title">Useful Links</h3>
                        <div class="widget-content">
                            <div class="row">
                                <div class="col-md-6">
                                    <ul>
                                        {{ nav:main_menu max_depth="1" scope="footermenu"}}
                                        {{ footermenu }}

                                        <li {{ if is_current }} class="active" {{ /if }}><a
                                                href="{{ url }}">{{ footermenu:menu_title or footermenu:title }}</a></li>

                                        {{ /footermenu }}
                                        {{ /nav:main_menu }}
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Column-->
                <div class="column col-lg-4 col-sm-12 mb-4">
                    <div class="footer-widget newsletter-widget">
                        {{# <h3 class="widget-title">Newsletter</h3> #}}
                        <div class="widget-content">
                            {{# <div class="hint">Get latest updates and offers.</div>
                            <form action="#">
                                <input type="email" placeholder="Enter your email address">
                                <button type="submit"><i class="fa fa-paper-plane"></i></button>
                            </form> #}}
                            <div class="social-links">
                                <ul>
                                    {{ if global:facebook }}<li><a href="{{ global:facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>{{ /if }}
                                    {{ if global:linkedin }}<li><a href="{{ global:linked_in }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>{{ /if }}
                                    {{ if global:twitter }}<li><a href="{{ global:twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>{{ /if }}
                                    {{ if global:youtube }}<li><a href="{{ global:youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>{{ /if }}
                                    {{ if global:instagram }}<li><a href="{{ global:instagram }}" target="_blank"><i class="fab fa-instagram"></i></a></li>{{ /if }}
                                    {{ if global:email }}<li><a href="mailto:{{ global:email | obfuscate }}" target="_blank"><i class="fas fa-envelope"></i></i></a></li>{{ /if }}
                                    {{ if global:phone }}<li><a href="tel:{{ global:phone | slugify }}" target="_blank"><i class="fas fa-phone"></i></a></li>{{ /if }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Footer Bottom -->
    <div class="auto-container">
        <div class="footer-bottom">
            <div class="copyright">
                <div class="row m-0 justify-content-between">
                    <div class="text">©2020 Copyright <a href="https://bidwine.ca">B.I.D. Wine International</a> . All
                        right reserved.</div>
                    <div class="text">Created by <a href="https://gaslampvillage.com" target="_blank">Gaslamp Village
                            Media Inc.</a></div>
                </div>
            </div>
        </div>
    </div>
</footer>
