<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ meta_description or 'Beverage International Distributors - Discover a World of Choice' }}">

<title>{{ meta_title or title }} | {{ title_suffix or site_name }}</title>


<link href="/css/default.min.css" rel="stylesheet">


<!-- FONTS -->
 
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,700&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

<!-- OPENGRAPH META DATA -->

{{# OPENGRAPH META TAGS #}}
<meta property="og:title" content="{{ title }}" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:description" content="{{ meta_description or 'Beverage International Distributor - A World of Choice' }}" />
<meta property="og:image" content="{{ if blog-image }}{{ blog-image | get:permalink}}{{else}}https://bidwine.ca/assets/BID_logo_cropped_wWhiteText.png{{/if}}" />

{{ if template=="blog/index" }}
<meta property="og:type" content="blog" />
{{ elseif template=="blog/post" }}
<meta property="og:type" content="article" />
{{ elseif template=="blog/taxonomy" }}
<meta property="og:type" content="article:tag" />
{{ else }}
<meta property=="og:type" content="website" />
{{ /if }}

<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:description" content="{{ meta_description or 'Beverage International Distributor - A World of Choice' }}" />
<meta name="twitter:url" content="{{ current_url }}" />
<meta name="twitter:image" content="{{ if blog-image }}{{ blog-image | get:permalink}}{{else}}https://bidwine.ca/assets/BID_logo_cropped_wWhiteText.png{{/if}}" />


<!-- FAVICONS -->

<!-- generics -->
<link rel="icon" href="/assets/favicons/favicon-16.png" sizes="16x16">
<link rel="icon" href="/assets/favicons/favicon-32.png" sizes="32x32">
<link rel="icon" href="/assets/favicons/favicon-57.png" sizes="57x57">
<link rel="icon" href="/assets/favicons/favicon-76.png" sizes="76x76">
<link rel="icon" href="/assets/favicons/favicon-96.png" sizes="96x96">
<link rel="icon" href="/assets/favicons/favicon-128.png" sizes="128x128">
<link rel="icon" href="/assets/favicons/favicon-192.png" sizes="192x192">
<link rel="icon" href="/assets/favicons/favicon-228.png" sizes="228x228">

<!-- Android -->
<link rel="shortcut icon" sizes="196x196" href="/assets/favicons/favicon-196.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="/assets/favicons/favicon-120.png" sizes="120x120">
<link rel="apple-touch-icon" href="/assets/favicons/favicon-152.png" sizes="152x152">
<link rel="apple-touch-icon" href="/assets/favicons/favicon-180.png" sizes="180x180">




<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->




    {{# *****************************    ADD FORM RECAPTCHA   ********************************* }}
    {{# ********     https://statamic.com/marketplace/addons/google-recaptcha    ************** }}
    {{# *************************************************************************************** #}}
    
    {{ captcha:head }} 

    {{# *************************************************************************************** #}}



    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-HE35D98Z6S"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-HE35D98Z6S');
    </script>



    {{ yield:css }}
