<!-- Main Menu -->
<div class="main-menu">
    <div class="auto-container">
        <div class="inner-container">
            <span class="border-shape"></span>
            <!--Nav Box-->
            <div class="nav-outer">
                <!--Mobile Navigation Toggler-->
                <div class="mobile-nav-toggler"><img src="/assets/images/icons/icon-bar.png" alt=""></div>

                <!-- Main Menu -->
                <nav class="main-menu navbar-expand-md navbar-light">
                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                        <ul class="navigation">
                                    {{ nav:main_menu max_depth="2" scope="navig"}}
                                    {{ navig }}
                                       {{ if !children }}
                                          <li {{ if is_current }} class="active current" {{ /if }}><a href="{{ url }}">{{ navig:menu_title or navig:title }}</a></li>
                                       {{ else }}
                                  
                                          <li class="dropdown {{ if is_current }}active current{{ /if }}"><a href="{{ url }}">{{ navig:menu_title or navig:title }}</a>
                                             <ul>
                                                {{ children scope="sub"}}
                                                  {{ sub }}
                                                     <li><a href="{{ url }}">{{ sub:menu_title or sub:title }}</a></li>
                                                  {{ /sub }}
                                                {{ /children }}
                                             </ul>
                                          </li>
                                  
                                        {{ /if }}
                                    {{ /navig }}
                                  {{ /nav:main_menu }}
               
                </nav>
                <!-- Main Menu End-->
                <button type="button" class="theme-btn search-toggler"><span class="stroke-gap-icon icon-Search"></span></button>     

            </div>
        </div>
    </div>
</div>

<!-- Sticky Header  -->
<div class="sticky-header main-menu">
    <div class="auto-container">
        <div class="inner-container">
            <div class="nav-outer">
                <span class="border-shape"></span>
                <!-- Main Menu -->
                <nav class="main-menu">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </nav><!-- Main Menu End-->
                <!-- Main Menu End-->
                <button type="button" class="theme-btn search-toggler"><span class="stroke-gap-icon icon-Search"></span></button>
            </div>                        
        </div>
    </div>
</div><!-- End Sticky Menu -->

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><span class="icon flaticon-remove"></span></div>
    
    <nav class="menu-box">
        <div class="nav-logo"><a href="index.html"><img src="{{ glide src='/assets/BID_logo_cropped_wWhiteText.png' width='250' }}" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <!--Social Links-->
        <div class="social-links">
            <ul class="clearfix">
                {{ if global:facebook }}<li><a href="{{ global:facebook }}" target="_blank"><i class="fab fa-facebook-f"></i></a></li>{{ /if }}
                {{ if global:linkedin }}<li><a href="{{ global:linked_in }}" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>{{ /if }}
                {{ if global:twitter }}<li><a href="{{ global:twitter }}" target="_blank"><i class="fab fa-twitter"></i></a></li>{{ /if }}
                {{ if global:youtube }}<li><a href="{{ global:youtube }}" target="_blank"><i class="fab fa-youtube"></i></a></li>{{ /if }}
                {{ if global:email }}<li><a href="mailto:{{ global:email | obfuscate }}" target="_blank"><i class="fas fa-envelope"></i></i></a></li>{{ /if }}
                {{ if global:phone }}<li><a href="tel:{{ global:phone | slugify }}" target="_blank"><i class="fas fa-phone"></i></a></li>{{ /if }}
            </ul>
        </div>
    </nav>
</div><!-- End Mobile Menu -->