<div class="sidebar-side col-xl-3 col-lg-4 col-md-12 col-sm-12">
    <aside class="sidebar">

        <div class="widget widget_search">
           <form action="/search">
               <div class="form-group">
                   <fieldset>
                       <input type="search" name="q" placeholder="Your Keyword ..." required="">
                       <button type="search"><i class="stroke-gap-icon icon-Search"></i></button>
                   </fieldset>
               </div>
           </form>
        </div>

        <!-- Popular Posts -->
        <div class="widget popular-posts">
            <h3 class="widget-title">Recent News</h3>
            
            {{ collection:news limit="5" }}
            <article class="post">
                <figure class="post-thumb"><a href="{{ url }}"><img class="img-fluid"
                            src="{{ glide:news_image width='200' height='200' fit='crop_focal'}}" alt="{{ title }}"></a></figure>
                <div class="text"><a href="{{ url }}">{{ title | truncate:20:... }}</a></div>
                <div class="post-info">{{ date format="j M., Y" }}</div>
            </article>
            {{ /collection:news }}
            

        </div>

        <!-- Popular Tags -->
        
        
        <div class="widget popular-tags">
            <h3 class="widget-title">Tags</h3>

            {{ taxonomy:news_categories }}
            
            <a href="/news{{ url }}">{{ title }} ({{entries_count}})</a>
            
            {{ /taxonomy:news_categories }}

        </div>
        

    </aside>
</div>