<!-- Our Products -->
{{ if !segment_1 }}
    <section class="about-section background-texture">
{{ elseif content or segment_1 }}
    <section class="products-section background-texture">
{{ /if }}

    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>The Finest Wines and Spirits from around the World</h2>
            <div class="text">Yours to discover at a retailer near you.</div>
        </div>
        <div class="theme_carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>
            
            {{ collection:products sort="random" }}
            
            <div class="shop-item">
                <div class="inner-box">
                    <div class="image">
                        <a href="{{ url }}"><img src="{{ glide:product-image width='120' height='150' fit='crop_focal'}}" alt="{{ title }}"></a>
                    </div>
                    <div class="lower-content">
                        <h4><a class="darklink" href="{{ url }}">{{ title }}</a></h4>
                        
                        <h5><a class="darklink" href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h5>
                        
                        {{ SKU }}
                        <a href="{{ unless link_override }}
                        http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                        {{ else }}
                        {{ link_override }}
                        {{ /unless }}" class="theme-btn mb-3">Buy - {{ product_variant }}</a>
                        {{ /SKU }}

                    </div>
                </div>
            </div>
            
            {{ /collection:products }}

        </div>
    </div>
</section>
