<script src="/js/jquery.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/bootstrap-select.min.js"></script>
<script src="/js/jquery.fancybox.min.js"></script>
<script src="/js/isotope.js"></script>
<script src="/js/owl.js"></script>
<script src="/js/appear.js"></script>
<script src="/js/wow.js"></script>
<script src="/js/lazyload.js"></script>
<script src="/js/scrollbar.js"></script>
<script src="/js/TweenMax.min.js"></script>
<script src="/js/swiper.min.js"></script>
<!-- <script src="/js/slick.js"></script> -->

<script src="/js/script.js"></script>

{{ yield:scripts }}