<!-- Bnner Section -->
<section class="banner-section">
    <div class="swiper-container banner-slider">
        <div class="swiper-wrapper">

            {{##############################}}
            {{#######    START OF   ########}}
            {{#######     SLIDES    ########}}
            {{##############################}}




            {{# Slide Item #}}
            <div class="swiper-slide" style="background-image: url('/assets/backgrounds/wine-slider_narrow.jpg');">
            
                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h1>Beverage International Distributor</h1>
                            <div class="text">Discover a world of choice!</div>
                            <div class="link-box">
                                <a href="/products" class="theme-btn btn-style-one"><span>View our featured products</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {{# Slide Item #}}
            <div class="swiper-slide" style="background-image: url('/assets/backgrounds/distillery-slider_narrow.jpg');">

                <div class="content-outer">
                    <div class="content-box">
                        <div class="inner">
                            <h1>Beverage International Distributor</h1>
                            <div class="text">The best wineries and distilleries from around the globe.</div>
                            <div class="link-box">
                                <a href="/producers" class="theme-btn btn-style-one"><span>View all producers</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           

            {{############################}}
            {{#######    END OF   ########}}
            {{#######    SLIDES   ########}}
            {{############################}}

        </div>
    </div>
    <div class="banner-slider-nav">
        <div class="banner-slider-control banner-slider-button-prev"><span><i class="far fa-angle-left"></i></span></div>
        <div class="banner-slider-control banner-slider-button-next"><span><i class="far fa-angle-right"></i></span> </div>
    </div>
</section>
<!-- End Bnner Section -->