<!-- Header Upper -->
<div class="header-upper">
    <div class="auto-container">
        <div class="inner-container">
            <!--Logo-->
            <div class="logo-box">
                <div class="logo">
                    <a href="/" class="d-flex">
                        <img class="img-fluid" src="{{ glide src='/assets/BID_logo_cropped_wText.png' width='300' }}" alt="BID Wine International">
                    </a>
                </div>
            </div>
            <div class="contact-info">
                <div class="single-info">
                    <div class="icon"><span class="flaticon-null-1"></span></div>
                    <div class="text">{{ if global:street_address }}{{ global:street_address}}{{ else }}No Address{{ /if }}
                         <br>
                         {{ if global:city }}{{ global:city }}{{ else }}NO CITY {{ /if}}
                         {{ if global:province }}{{ global:province }}{{ else }}NO PROVINCE {{ /if}},
                         {{ if global:postal_code }}{{ global:postal_code }}{{ else }}NO POSTAL CODE {{ /if}}</div>
                </div>
                <div class="single-info">
                    <div class="icon"><span class="flaticon-null-2"></span></div>
                    <h5>{{ if global:phone }}<a href="tel:{{ global:phone }}">{{ /if }}{{ global:phone }}{{ if global:phone }}</a>{{ /if }} <br>Call us</h5>

                </div>

            </div>
        </div>
    </div>
</div>
<!--End Header Upper-->