<!-- Welcome Section -->
<section class="welcome-section pb-0">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Welcome to BID Wine</h2>
            <div class="text"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 welcome-block-one">
                <div class="inner-box">
                    <div class="image"><img src="{{ glide src='/assets/backgrounds/wine-slider.jpg' width='350' height='204' fit='crop_focal' }}" alt=""></div>
                    <div class="content">
                        <h4>Our Products</h4>
                        <div class="text">From fine wine to the smoothest Canadian whiskey, our products are world-class, and available at a retailer near you!</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 welcome-block-one">
                <div class="inner-box">
                    <div class="image"><img src="{{ glide src='/assets/BID_square.jpg' width='350' height='204' fit='crop_focal' }}" alt=""></div>
                    <div class="content">
                        <h4>Our Mission</h4>
                        <div class="text">We have one purpose:  To bring you the finest wines and spirits from every corner of the globe.</div>
                    </div>
                </div>
            </div>    
            <div class="col-lg-4 welcome-block-one">
                <div class="inner-box">
                    <div class="image"><img src="{{ glide src='/assets/backgrounds/distillery-slider.jpg' width='350' height='204' fit='crop_focal' }}" alt=""></div>
                    <div class="content">
                        <h4>Our Producers</h4>
                        <div class="text">Our products are sourced from some of the globe's leading distilleries and wineries.  Taste the difference!</div>
                    </div>
                </div>
            </div>
                   
        </div>
    </div>
</section>
