<section class="recipes-section">
    <div class="auto-container">
        <div class="wrapper-box">
            <div class="recipe-block">
                <div class="row no-gutters">
                    <div class="col-lg-6 background-secondary m-0 py-5 d-flex justify-content-center">
                        {{ if taxonomy_logo }}
                        <img class="img-fluid" src="{{ glide:taxonomy_logo width='400' fit='crop_focal' }}">
                        {{ /if }}
                    </div>
                    <div class="col-lg-6">
                        <div class="content m-0">
                            <div>
                                <h2>{{ title }}</h2>

                                {{ if tagline }}
                                <div class="text">{{ tagline }}</div>
                                {{ /if }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ if bard_field }}
            <div class="col-md-12 fieldset clearfix">

                {{ bard_field }}
                {{ partial src="/partials/sets/{type}" }}
                {{ /bard_field }}

            </div>
            {{ /if }}
        </div>
    </div>
</section>



<!-- Our Products -->
<section class="products-section">
    <div class="auto-container">
        <div class="row">

            {{#################################    COLUMN   #########################################}}

            <div class="col-12">
                
                <div class="row">

                    {{ entries }}

                    <div class="shop-item col-md-4 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <a href="{{ url }}">                              
                                    <img src="{{ glide:product-image width='80' height='150' fit='crop_focal' }}" alt="{{title}}">
                                </a>
                                
                            </div>
                            <div class="lower-content">
                                <h4><a href="{{ url }}">{{ title }}</a></h4>
                                <h5><a class="darklink" href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h5>
                                
                                {{ SKU }}
                                <a href="{{ unless link_override }}
                                    http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                                    {{ else }}
                                    {{ link_override }}
                                    {{ /unless }}" class="theme-btn mb-3">Buy - {{ product_variant }}</a>
                                {{ /SKU }}
                            </div>
                        </div>
                    </div>

                    {{ /entries }}
                    


                    {{ paginate }}
                    <div class="shop-pagination">
                        <ul class="clearfix">

                            {{ if prev_page }}<li class="prev"><a href="{{ prev_page }}"><i class="fa fa-arrow-left"></i>Previous Page</a></li>{{ /if }}
                            
                            
                            {{ links:segments }}

                            {{ first }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /first }}
                
                            {{ if slider }}
                                <li class="disabled"><a href="#">...</a></li>
                            {{ /if }}
                
                            {{ slider }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /slider }}
                
                            {{ if slider || (!slider && last) }}
                                <li class="disabled"><span>...</span></li>
                            {{ /if }}
                
                            {{ last }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /last }}
                
                        {{ /links:segments }}

                        {{ if next_page }}<li class="next"><a href="{{ next_page }}">Next Page<i class="fa fa-arrow-right"></i></a></li>{{ /if }}
                    </ul>
                </div>

                {{ /paginate }}


            </div> 
        </div>
    </div>  
</section>