/**************************************************************/
/***   FIELDSET VARIABLES   (now in default.scss **************/
/**************************************************************/




/** image_set **/

.bard-image {
    &.width-original {
        max-width: 100%;
        max-height: 100%;
    }

    &.width-quarter {
        width: 25%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    
    &.width-third {
        width: 33%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    


    &.width-half {
        width: 50%;

        @include respond-below(sm) {
            width: 100%;
        }
    }

    &.width-two-third {
        width: 66%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    

    &.width-three-quarter {
        width: 75%;

        @include respond-below(sm) {
            width: 100%;
        }
    }

    &.width-full {
        width: 100%;
    }

    &.none img {
        text-align: left;
        margin: 0 1em 0 0;
    }

    &.left {
        float: left;
        margin-top: .5em;
        margin-right: 2em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            margin-right: 0;
            margin-bottom: 1.5em;
        }

    }

    &.right {
        float: right;
        margin-top: .5em;
        margin-left: 2em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            margin-left: 0;
            margin-bottom: 1.5em;
        }
    }

    &.center {
        margin: 0 auto;
        margin-top: .5em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            width: 100%;
            margin-bottom: 1.5em;
        }
    }
    figcaption {
        font-size: 1rem;
        font-family: sans-serif;
    }

}

img.bard-img {
    padding: 5px;
    display: block;
    margin: 0 auto;

}

figure.frame img {
    position: relative;
    padding: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0px 0px 6px rgba(110, 110, 110, 0.2);
    transition: all .3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

figure.frame.link img:hover {
    box-shadow: 6px 5px 10px rgba(110,110,110,0.2);
}

/** header_set **/
.fieldset {

    h2, .h2,
    h3, .h3,
    h4, .h4,
    h5, .h5,
    h6, .h6 {
        margin: 2em 0 .8em 0;
        font-weight: 400;
        font-family: $header-font-family;
    }

    h1, .h1 {
        font-size: 3.2rem;
        font-weight: 500;
    }
    h2, .h2 {
        font-size: 2.5rem;
        font-weight: 500;
    }

    h3, .h3 {
        font-size: 1.8rem;
        font-weight: 500;
    }

    h4, .h4 {
        font-size: 1.5rem;
    }

    h5, .h5 {
        font-size: 1.3rem;
    }

    h6, .h6 {
        font-size: 1.2rem;
    }


    .align-left {
        text-align: left;
    }

    .align-center {
        text-align: center;
    }

    .align-right {
        text-align: right;
    }
}
.post {
    h2 {
        font-size: 2rem;
    }
}
/** video_set **/
.bard-video {
    &.width-quarter {
        width: 25%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    &.width-third {
        width: 33%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    &.width-half {
        width: 50%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    &.width-two-third {
        width: 66%;

        @include respond-below(sm) {
            width: 100%;
        }
    }
    &.width-three-quarter {
        width: 75%;

        @include respond-below(sm) {
            width: 100%;
        }
    }

    &.width-full {
        width: 100%;
    }

    &.left {
        float: left;
        margin-top: .5em;
        margin-right: 2em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            margin-right: 0;
            margin-bottom: 1.5em;
        }
    }

    &.right {
        float: right;
        margin-top: .5em;
        margin-left: 2em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            margin-left: 0;
            margin-bottom: 1.5em;
        }
    }

    &.center {
        margin: 0 auto;
        margin-top: .5em;
        margin-bottom: 1em;

        @include respond-below(sm) {
            width: 100%;
            margin-bottom: 1.5em;
        }
    }
}

/** horizontal_rule_set **/

.horizontal-rule hr {
    border: none;
    margin: 0;
}


.horizontal-rule {

    &.width-new-line {
        width: 100%;
        display: inline-block;
        clear: both;
    }

    &.m-15 {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    &.m-30 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    &.m-60 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

}

/** button_set **/
.bard-button {
    margin: 1.5em 0 2em;

    &.left {
        text-align: left;
    }

    &.right {
        text-align: right;
    }

    &.center {
        text-align: center;
    }
}

.btn-blue {
    background-color: $blue;
    border-color: darken($blue, 20%);
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
        background-color: $lightblue;
    }
}

.fieldset .btn {
    text-transform: none;
    font-weight: 500;
    transition: all 300ms ease, box-shadow 400ms ease;


    &-xs {
        padding: .1em 2em;
        font-size: .8em;
    }

    &-sm {
        padding: .5em 2.5em;
        font-size: 1em;
    }

    &-md {
        padding: .5em 3em;
        font-size: 1.4em;
        font-weight: 600;
    }

    &-lg {
        padding: .3em 4em;
        font-size: 1.8em;
        font-weight: 900;
    }

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        color: #fff !important;
    }

}

.btn-lightblue {
    background-color: $lightblue;
    border-color: darken($lightblue, 20%);
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        background-color: $blue;
        border-color: $lightblue;
        color: #fff;
    }
}

.btn-orange {
    background-color: $orange;
    border-color: darken($orange, 20%);
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
        background-color: darken($orange, 20%);
        border-color: $orange;
    }
}

.btn-yellow {
    background-color: $yellow;
    border-color: darken($yellow, 20%);
    color: #fff;
    transition: all .3s ease-in-out;

    &:hover {
        color: #fff;
        background-color: $orange;
        border-color: $yellow;
    }
}

/** image_gallery_set **/
.bard-gall {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;


    .bard-gallery {
        padding: 5px;

        @media screen and (max-width: 720px) {
            max-width: 50% !important;
        }
    }

    .bard-gallery.columns-2 {
        max-width: 50%;
    }

    .bard-gallery.columns-4 {
        max-width: 25%;
    }

    .bard-gallery.columns-6 {
        max-width: 16%;
    }

    .bard-gallery img.frame {
        padding: 5px;
        border: 1px solid #e0e0e0;
    }
    .bard-gallery img {
        // margin-bottom: 30px;
        transition: all .2s ease-in-out;
    }

    .bard-gallery img.link:hover {
        transform: scale(1.03);
    }

}

/** blockquote **/
blockquote {
    margin: 15px 0 20px;
    color: grey;
    margin-left: 3rem;
    border-left: 7px solid #ccc;
    padding-left: 1rem;
    width: 80%;
  }

/** tabs_set **/
.tabs-set {
    margin: 2em 0;
    background-color: #fafafa;
    padding: 1em;
    border-radius: 4px;
    border: 1px solid #fafafa;

    #v-pills-tabContent.tab-content {
        padding-top: 0;
    }
    
}

/*** list_set ***/
.list_set {

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        margin-left: 2em;
    }
}

/*** Lead Paragraph ***/
.lead-paragraph {
    font-size: 1.4rem;
    line-height: 1.5;
    p {
        margin: 0;
    }
}

/*** Full-width-block ***/

.full-width {
    max-width: 100vw;
    margin: 0 auto;
    padding: 2em 0;
    clear: both;
    &::before {
        height: 2em;
        content:"";
    }
    &::after {
        height: 2em;
        content:"";
    }
    @include respond-above(xs) {
        margin: 0 calc(-50vw + 50% - 10px);
    }
}

.fieldset {
    position: relative;

    a.fieldset_link {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        font-weight: 500;
    }
}


