.background-texture {
    background-image: url(/assets/images/background/bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/*** Producers Detail (Products) page ****/
.product-description {
    background-color: #fff;
    padding: 1.5em;
    
    p {
        
        font-size: 1.5rem;
        line-height: 2.2rem;
    }
    .product-awards {
        background-color: #ccc;
            border-radius: 7px;
            padding: 1em;
            margin: 0 0 1em 1em;
        @include respond-above(md) {
            width: 50%;
            float: right;
        }
    }
    .product-images {
        @include respond-above(md) {
        margin-right: 2em;
        margin-bottom: 2em;
        float: left;
        }
    }
    img.product-images {
        margin: 0 auto 2em auto;
        display: block;
        @include respond-above(md) {
        margin: 0 2em 0 0;
        }
    }
    ul, ol {

        margin-left: 2.5em;
        li {
            margin-left: .5em;
            list-style: disc;
        }
    }
}


.product-buttons {
    display: flex;
    a {
        padding: 1em;
        background-color: $primary-color;
        color: lighten($primary-color,70%);
        font-size: 1.4rem;
        flex-basis: 25%;
        &:hover {
            background-color:darken($primary-color,10%);
            color: lighten($primary-color,30%);
        }
        &.full-width-button {
            flex-basis: 100%;
            margin-bottom: 1rem;
        }
    }
}
.background-secondary {
    background-color: $secondary-color;
}


/**** CAROUSEL IMAGES ***/
.owl-carousel .owl-item img {
    width: auto;
    margin: 0 auto;
}

/*** SEARCH PAGE CSS ***/
span.collection {
    background-color: green;
    font-size: 13px;
    color: white;
    padding: 1px 6px 5px 5px;
    margin-bottom: 1px;
    border-radius: 6px;
    text-transform: capitalize;
}


/*** HONEYPOT ***/
input.nospam {
    display: none !important;
}