<div class="fieldset">
  <div class=" row mb-3">
    <div class="col-md-6">
      {{ bard_field_2col_limited1 }}
      {{ partial src="sets/{type}" }}
      {{ /bard_field_2col_limited1 }}
    </div>
    <div class="col-md-6">
      {{ bard_field_2col_limited2 }}
      {{ partial src="sets/{type}" }}
      {{ /bard_field_2col_limited2 }}
    </div>
  </div>
</div>