<div class="fieldset">
<div class="row  mb-3">
  <div class="col-md-4">
    {{ column_1 }}
    {{ partial src="sets/{type}" }}
    {{ /column_1 }}
  </div>
  <div class="col-md-4">
    {{ column_2 }}
    {{ partial src="sets/{type}" }}
    {{ /column_2 }}
  </div>
  <div class="col-md-4">
    {{ column_3 }}
    {{ partial src="sets/{type}" }}
    {{ /column_3 }}
  </div>
</div>
</div>