{{# <div class="fieldset link-box bard-button {{ align }}">
    <a class="btn btn-{{ button_size }} alert-{{ color }} btn-outline-{{ outline }} theme-btn read-more"
        style="{{ if color}} background-color: {{color}}; {{/if}}
               {{ if outline}}border: 2px solid {{outline}};{{ /if}}
               {{ if text_color }} color: {{ text_color }}; {{/if }}
               {{ if rounded }}border-radius: {{roundness}}px;{{ /if }}"
        href="{{ button_url_ext or button_url_int|get:url }}" {{ if target }} target="_blank" {{ /if }}>
        {{ button_text }}
    </a>
</div>
<div style="clear:both"></div> #}}

<div class="link-box mb-4 bard-button">
    <a href="{{ button_link|get:url }}" class="theme-btn read-more btn btn-{{ button_size }}"  {{ if target }} target="_blank" {{ /if }}>{{ button_text }}</a>
</div>