<div class="fieldset feature_block full-width my-5">

    <div class="container">
        <div class="row d-flex justify-content-center flex-wrap">

            {{ feature_block_set }}

            <div class="col text-center" style="min-width: 25%; max-width: 50%;">

                {{ if feature_icon }}<i class="{{ feature_icon }} fa-4x" {{ if icon_color }}style="color: {{ icon_color }}"{{ /if }}></i>{{ /if }}
                {{ if feature_title }}<h4>{{ feature_title }}</h4>{{ /if }}
                {{ if feature_text }}{{ feature_text }}{{ /if }}


            </div>

            {{ /feature_block_set }}
        </div>

    </div>
</div>