<div class="fieldset full-width my-5"
    style="{{ if background_color }}background-color: {{ background_color }};{{ /if }}{{ if text_color }}color: {{ text_color }} !important;{{ /if }}">

    {{ if block_url and block_url_link }}<a class="fieldset_link" href="{{ block_url_link }}" {{ if block_url_tab }}target="_blank"
        {{ /if }}></a>{{ /if }}

    <div class="container">
        <div class="row">
            <div class="col-12 {{ if center_text }}text-center{{ /if }} fieldsets clearfix">

                    {{ cta_bard_field }}
                        {{ partial src="/partials/sets/{type}" }}
                    {{ /cta_bard_field }}

            </div>
        </div>
    </div>
</div>