<figure class="image-box image_set bard-image width-{{width}} {{ float }} {{ if frame }}frame {{ /if }} {{ if zoom-image or image_link }} link {{ /if }}">
 

  {{ if image_link }}
  <a href="{{ image_link }}"{{ if image_link_tab }} target="_blank"{{ /if }}>

  {{ elseif zoom-image }}
    <a data-fancybox="{{ type }}" href="{{ content_pic }}">

  {{ /if }}
  
    
  <img class="img-fluid" src="{{ glide:image }}"
                         srcset="{{ glide:content_pic width='360' fit='crop-focal' }} 360w,
                                 {{ glide:content_pic width='500' fit='crop-focal' }} 500w,  
                                 {{ glide:content_pic width='768' fit='crop-focal' }} 768w"   
                            alt="{{ image_alt or content_pic|get:alt or image_title or content_pic|get:title or title }}">
  
  {{ if zoom-image || image_link }}
    </a>
  {{ /if }}  

  {{ if image_alt or content_pic|get:alt or image_title or content_pic|get:title }}
  
    <figcaption class="title text-center">{{ image_title or content_pic|get:title or image_alt or content_pic|get:alt }}</figcaption>
  
  {{ /if }}
  

</figure>