<div class="bard-gall clear mb-3">
  {{ gallery }}
  <div class="bard-gallery columns-{{columns}}">
    {{ if zoom-image }}
    <a data-fancybox="{{ type }}" href="{{ url }}">
    {{ /if }}
      <img src="{{ glide:url width='555' height='555' fit='crop_focal' }}" class="img-responsive img-fluid bard-img {{ if frame }} frame {{ /if }}{{ if zoom-image }} link{{ /if }}"
        alt="{{ if alt }}{{ alt }}{{ else }}{{ title }} Gallery Image{{ /if }}">
    {{ if zoom-image }}
      </a>
    {{ /if }}
  </div>
  {{ /gallery }}
</div>