<div class="row">
  <div class="col-12">
<figure class="bard-image {{ float }}">
  <a data-fancybox="{{ type }}" href="{{ image }}">    
    {{ responsive_img:image attr="class:img-responsive width-quarter|alt:{ image|get:alt or image|get:title or title }" }}
    {{ if image|get:title }}
    <figcaption class="text-center">{{ image | get:title }}</figcaption>
    {{ /if }}
  </a>
</figure>
</div>
</div>


{{# OLD WITH GLIDE #}}
  {{# <img src="{{ glide:image width='750' fit='crop_focal' }}" alt="{{ if image | get:alt }}{{ image | get:alt }}{{else}}{{title}} | {{site_name}}{{/if}}"
      class="img-responsive width-{{ width }} bard-img" /> #}}