<table class="table {{ if table_rows_striped }} table-striped {{ /if }} {{ if table_border }} table-bordered {{ /if }} {{ if table_hover }} table-hover {{ /if }}">
    {{ table }}
      {{ if first && first_row_headers }}
        <thead>
          <tr>
            {{ cells }}
              <th>{{ value }}</th>
            {{ /cells }}
          </tr>
        </thead>
        <tbody>
      {{ /if }}
      {{ if !first && first_row_headers || !first_row_headers }}
        {{ if first }}
          <tbody>
        {{ /if }}
          <tr>
            {{ cells }}
              <td>{{ value }}</td>
            {{ /cells }}
          </tr>
        {{ if last }}
          </tbody>
        {{ /if }}
      {{ /if }}
    {{ /table }}
  </table>