{{#

{{ if ! vertical_tabs }}
<div class="tabs-set">
    <ul class="nav nav-{{ tab_style }}">
        {{ tabs }}
        <li class="clearfix"><a class="{{ if first }} active {{ /if }}" data-toggle="tab"
                href="#{{ tab_name | slugify }}">{{ tab_name }}</a></li>
        {{ /tabs }}
    </ul>

    <div class="tab-content">
        {{ tabs }}
        <div id="{{ tab_name | slugify }}" class="tab-pane fade in {{ if first }} active show{{ /if }}">
            {{ tab_content }}
        </div>
        {{ /tabs }}
    </div>
</div>
{{ else }}
<div class="tabs-set">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {{ tabs }}
                <li class="{{ if first }} active {{ /if }}"><a data-toggle="tab" href="#{{ tab_name | slugify }}">{{ tab_name
            }}</a></li>
                {{ /tabs }}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="tab-content">
                {{ tabs }}
                <div id="{{ tab_name | slugify }}" class="tab-pane fade in {{ if first }} active show {{ /if }}">
                    {{ tab_content }}
                </div>
                {{ /tabs }}
            </div>
        </div>
    </div>
</div>
{{ /if }}

#}}


{{ if !vertical_tabs }}
{{ tabs as='tab-content'}}
<div class="tabs-set">
    <nav>

        <div class="nav nav-{{ tab_style }}" id="{{ if tab_style==='tabs' }}nav{{ else }}pills{{ /if }}-tab"
            role="tablist">
            {{ tab-content }}
            <a class="nav-item nav-link {{ if first }} active {{ /if }}ml-2"
                id="{{ if tab_style==='tabs' }}nav-{{ tab_name | slugify }}-tab{{ else }}pills-{{ tab_name | slugify }}-tab{{ /if }}"
                data-toggle="{{ if tab_style==='tabs' }}tab{{ else }}pill{{ /if }}" href="#{{ tab_name | slugify }}"
                role="tab" aria-controls="{{ tab_name | slugify }}" aria-selected="true">{{ tab_name }}</a>
            {{ /tab-content }}
        </div>

    </nav>


    <div class="tab-content" id="{{ if tab_style==='tabs' }}nav-tabContent{{ else }}pills-tabContent{{ /if }}">

        {{ tab-content }}
        <div class="tab-pane fade {{ if first }}show active{{ /if }} clearfix" id="{{ tab_name | slugify }}" role="tabpanel"
            aria-labelledby="{{ if tab_style==='tabs' }}nav-{{ tab_name | slugify }}-tab{{ else }}pills-{{ tab_name | slugify }}-tab{{ /if }}">
            
            <div class="fieldsets my-3 clearfix">
                {{ tabs_bard_field }}
                    {{ partial src="/partials/sets/{type}" }}
                {{ /tabs_bard_field }}
            </div>

        </div>
        {{ /tab-content }}

    </div>
</div>
{{ /tabs}}


{{ else }}
<div class="tabs-set">
    <div class="row">
        <div class="col-3">
            {{ tabs as='tab-content'}}

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {{ tab-content }}
                <a class="nav-link {{ if first }} active{{ /if }}" id="{{ tab_name | slugify }}-tab" data-toggle="pill"
                    href="#{{ tab_name | slugify }}" role="tab" aria-controls="{{ tab_name | slugify }}"
                    aria-selected="true">{{ tab_name }}</a>
                {{ /tab-content }}
            </div>
        </div>

        <div class="col-9">
            <div class="tab-content" id="v-pills-tabContent">

                {{ tab-content }}
                <div class="tab-pane fade {{ if first }}show active{{ /if }} clearfix" id="{{ tab_name | slugify }}"
                    role="tabpanel" aria-labelledby="{{ tab_name | slugify }}-tab">
                    <div class="fieldsets clearfix">
                        {{ tabs_bard_field }}
                            {{ partial src="/partials/sets/{type}" }}
                        {{ /tabs_bard_field }}
                    </div>
                </div>
                {{ /tab-content }}
            </div>
            {{ /tabs }}
        </div>
    </div>
</div>


</div>
{{ /if }}
