<div class="bard-video {{ float }} width-{{ width }}">
  <div class="embed-responsive embed-responsive-16by9">
    <iframe src="{{ video | embed_url }}" class="embed-responsive-item" allowfullscreen></iframe>
  </div>
</div>