 <!--Sidebar Page Container-->
 <div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!--Content Side / Blog Classic -->
            <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="blog-classic pr-lg-4">
                    <h2 class="mb-1">News Categories.</h2>
                    <p class="mb-4">Click each one to see the related tagged content.</p>  

                    {{ terms }}
                   
                    <h3>{{count}}. <a class="link-dark" href="{{ url }}">{{ title }} ({{entries_count}} {{ if entries_count <1 }}posts {{else}} post{{ /if }})</a></h3>
                    
                    {{ /terms }}
                    
                </div>
            </div>
            
            {{ partial:partials/news-sidebar }}
            
        </div>
    </div>
</div>
