 <!--Sidebar Page Container-->
 <div class="sidebar-page-container">
     <div class="auto-container">
         <div class="row clearfix">

             <!--Content Side / Blog Classic -->
             <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                 <div class="blog-classic pr-lg-4">


                     {{ entries paginate="5" sort="date:desc" }}

                     {{ results }}
                     <!-- News Block Three-->
                     <div class="news-block-three">
                         <div class="inner-box">
                             <div class="image-box">
                                 <figure class="image"><a href="{{ url }}"><img
                                             src="{{ glide:news_image width='840' height='360' fit='crop_focal' }}"
                                             alt="{{ title }}"></a></figure>
                             </div>
                             <div class="lower-content">
                                 <div class="wrapper-box">
                                     <div class="date">{{ date format="j M., Y" }}</div>
                                     <div class="post-meta">
                                         <ul class="post-info clearfix">
                                             <li>{{ news_categories }}<a
                                                     href="{{ url }}">{{ title }}</a>{{ unless last }},
                                                 {{/unless}}{{ /news_categories }}</li>
                                         </ul>
                                     </div>
                                 </div>
                                 <h3><a href="{{ url }}">{{ title }}</a></h3>

                                 {{ news_bard_field where="type:text" limit="1" }}
                                 {{ text | truncate:150:... }}
                                 {{ /news_bard_field }}

                                 <div class="link-box"><a href="{{ url   }}" class="theme-btn read-more">Read more</a>
                                 </div>
                             </div>
                         </div>
                     </div>
                     {{ /results }}

                     {{ /entries}}



                     {{ paginate }}
                     <ul class="styled-pagination mb-30 text-center">

                         {{ links:segments }}
                         {{ first }}
                         {{ if page == current_page }}
                         <li class="active"><a href="#">{{ page }}</a></li>
                         {{ else }}
                         <li><a href="{{ url }}">{{ page }}</a></li>
                         {{ /if }}
                         {{ /first }}

                         {{ if slider }}
                         <li class="disabled"><a href="#">...</a></li>
                         {{ /if }}

                         {{ slider }}
                         {{ if page == current_page }}
                         <li class="active"><a href="#">{{ page }}</a></li>
                         {{ else }}
                         <li><a href="{{ url }}">{{ page }}</a></li>
                         {{ /if }}
                         {{ /slider }}

                         {{ if slider || (!slider && last) }}
                         <li class="disabled"><span>...</span></li>
                         {{ /if }}

                         {{ last }}
                         {{ if page == current_page }}
                         <li class="active"><a href="#">{{ page }}</a></li>
                         {{ else }}
                         <li><a href="{{ url }}">{{ page }}</a></li>
                         {{ /if }}
                         {{ /last }}
                         {{ /links:segments }}
                     </ul>
                     {{ /paginate }}
                 </div>
</div>
                 <!--Sidebar Side-->
                 {{ partial:partials/news-sidebar }}
             </div>
         </div>
     </div>
 
