<!DOCTYPE html>
<html lang="en">
<head>

    {{ partial:partials/meta-head }}

</head>

<body>

<div class="page-wrapper">

    <header class="main-header header-style-one">

        {{ partial:partials/top-bar}}

        {{ partial:partials/navigation }}

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->
    
    {{ partial:partials/search-popup }}

    {{ partial:partials/inner-header }}

    {{ template_content }}


    {{ partial:partials/footer }}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-right-arrow"></span></div>

{{ partial:partials/scripts }}


</body>
</html>













