<!DOCTYPE html>
<html lang="en">
<head>

    {{ partial:partials/meta-head }}

</head>

<body>

    <div class="page-wrapper">

        {{ template_content }}

    </div>
</body>
</html>













