<!DOCTYPE html>
<html lang="en">
<head>

    {{ partial:partials/meta-head }}

</head>

<body>

<div class="page-wrapper">
   {{# <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>#}}

    <!-- Main Header -->
    <header class="main-header header-style-one">

        {{ partial:partials/top-bar}}

        {{ partial:partials/navigation }}

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->
    
    {{ partial:partials/search-popup }}

    {{ partial:partials/tax-inner-header }}

    {{ template_content }}


    {{ partial:partials/footer }}
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-right-arrow"></span></div>

{{ partial:partials/scripts }}


</body>
</html>













