    <!-- Contact Section -->
    <section class="contact-section style-two">
        <div class="auto-container">
            <div class="sec-title">
                <h2>Get In Touch</h2>
                <div class="text">Please don't hesitate to contact us if you have any questions.</div>
            </div>
            <div class="row">
                <div class="col-lg-7">
                    {{ form:contact class="contact-form" }}

                    {{ if error:captcha }}
                    <div class="alert alert-danger">
                        <p>Please complete the CAPTCHA challenge below.</p>
                    </div>
                        {{ /if }}
                  
                    {{ if success }}
                        <div class="alert alert-success">
                            <p>Thank you!  Your message has been sent.  Please expect a reply within 48 hours.  If you need quicker assistance, don't hesitate to call us.</p>
                        </div>
                    {{ else }}
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="first_name" placeholder="First Name" value="{{ old:first_name}}" required="">
                                <input type="text" name="nospam" class="nospam" />
                            </div>

                            <div class="col-md-6 form-group">
                                <input type="text" name="last_name" placeholder="Last Name" value="{{ old:last_name}}" required="">
                            </div>
                            
                            <div class="col-md-6 form-group">
                                <input type="email" name="email_address" placeholder="Email Address" value="{{ old:email_address}}" required="">
                            </div>

                            <div class="col-md-6 form-group">
                                <input type="text" name="phone_number" placeholder="Phone" value="{{ old:phone_number}}" required="">
                            </div>

                            <div class="col-md-12 form-group-two">
                                <textarea name="message" placeholder="Message goes here">{{ old:message }}</textarea>
                            </div>
    

                            <div class="col-md-12 form-group-two">            

                                {{ if error:captcha }}
                                <div class="alert alert-danger">
                                    <p>Please indicate whether you are or are not, in fact, a robot.</p>
                                {{ /if }}

                                    {{ captcha }}

                                {{ if error:captcha }}
                                </div>
                                {{ /if }}
                            
                            </div>


                            <div class="col-md-12 form-group">
                                <button class="theme-btn btn-style-one style-two" type="submit" name="submit-form"><span class="btn-title">SEND MESSAGE</span></button>                                
                            </div>
                        </div>
                        {{ /if }}
                    {{ /form:contact }}
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="contact-info-block">
                        <ul class="inner-box">
                            <li><strong>Address:</strong></li>
                            <li>{{ global:street_address }}<br>{{ global:city }} {{ global:province }}, {{ global:postal_code }}</li>
                        </ul>
                    </div>
                    <div class="contact-info-block">
                        <ul class="inner-box">
                            <li><strong>Phone :</strong> {{ global:phone }}</li>
                            <li><strong>Email :</strong> <a class="link-dark" href="mailto:{{ global:email | obfuscate_email }}">{{ global:email | obfuscate_email }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>