<div class="auto-container">
    <div class="col my-5 fieldset">
        {{ bard_field }}
            {{ partial src="/partials/sets/{type}" }}
        {{ /bard_field }}
    </div>
</div>


{{ partial:partials/products }}
  

<!-- {{ partial:partials/blog-block }} -->