    <!-- Main Header -->
    <header class="main-header header-style-one">

        {{ partial:partials/top-bar}}

        {{ partial:partials/navigation }}

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->
    
    {{ partial:partials/search-popup }}

    {{ partial:partials/slider }}

    {{ partial:partials/welcome }}

    {{ template_content }}
    
    {{ partial:partials/products }}
  

    {{ partial:partials/blog-block }}



    {{ partial:partials/footer }}




<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-right-arrow"></span></div>

{{ partial:partials/scripts }}