{{ collection:news paginate="true" as="news" limit="9" }}
    
    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row">

                
                {{ news }}
                <!-- News Block Three-->
                <div class="news-block-three col-lg-6">
                    <div class="inner-box">
                        <div class="image-box">
                            <figure class="image"><a href="{{ url }}"><img src="{{ glide:news_image width='960' height='600' fit='crop_focal' }}" alt="{{ title }}"></a></figure>
                        </div>
                        <div class="lower-content">
                            <div class="wrapper-box">
                                <div class="date">{{ date format="j M., Y" }}</div>

                                
                                <div class="post-meta">
                                    <ul class="post-info clearfix">
                                        <li>{{ news_categories }}<a href="{{ url }}">{{ title }}</a>{{ unless last }}, {{/unless}}{{ /news_categories }}</li>
                                    </ul>
                                </div>

                            </div>
                            
                            <h3><a href="{{ url }}">{{ title }}</a></h3>
                            {{ news_bard_field where="type:text" limit="1" }}
                            
                                {{ text | truncate:150:... }}
                            {{ /news_bard_field }}

                            <div class="link-box"><a href="{{ url }}" class="theme-btn read-more">Read more</a></div>

                            
                            
                        </div>
                    </div>
                </div>
            {{ /news }}
                
            </div>
            <!--Styled Pagination-->


            
            {{ paginate }}
            <ul class="styled-pagination mb-30 text-center">
                
                {{ links:segments }}
                {{ first }}
                    {{ if page == current_page }}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /first }}
    
                {{ if slider }}
                    <li class="disabled"><a href="#">...</a></li>
                {{ /if }}
    
                {{ slider }}
                    {{ if page == current_page }}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /slider }}
    
                {{ if slider || (!slider && last) }}
                    <li class="disabled"><span>...</span></li>
                {{ /if }}
    
                {{ last }}
                    {{ if page == current_page }}
                        <li class="active"><a href="#">{{ page }}</a></li>
                    {{ else }}
                        <li><a href="{{ url }}">{{ page }}</a></li>
                    {{ /if }}
                {{ /last }}
            {{ /links:segments }}
            </ul>                
            {{ /paginate }}

            <!--End Styled Pagination-->
        </div>
    </div>
    {{ /collection:news }}