    <!--Sidebar Page Container-->
    <div class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                
                <!--Content Side / Blog Classic -->
                <div class="content-side col-xl-9 col-lg-8 col-md-12 col-sm-12">
                    <div class="blog-single pr-lg-4">
                        <div class="inner-box">
                            <div class="image-box">
                                <figure class="image">{{ responsive:news_image alt="{title}" class="mb-4"}}</figure>
                            </div>
                            <div class="lower-content">
                                <div class="wrapper-box">
                                    <div class="date">{{ date format="j M., Y" }}</div>
                                <div class="post-meta">
                                    <ul class="post-info clearfix">
                                        <li>{{ news_categories }}<a href="{{ url }}">{{ title }}</a>{{ unless last }}, {{/unless}}{{ /news_categories }}</li>
                                    </ul>
                                </div>
                                </div>
 
                                <div class="lower-box">
                                    <h3>{{ title }}</h3>
                                   
                                    {{ news_bard_field }}
                                        {{ partial src="/partials/sets/{type}" }}
                                    {{ /news_bard_field }}

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                
                {{ partial:partials/news-sidebar }}
                
            </div>
        </div>
    </div>
