<section class="team-section">
    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Our Producers</h2>
            <div class="text">Our products are sourced from some of the globe's leading distilleries and wineries.  Taste the difference!</div>
        </div>
        <div class="row">

            {{ collection:producers featured_producer:is="true" }}

            {{ if no_results }}
            {{ else }}

            <div class="col-lg-6 col-sm-12 mb-5">

                <div class="featured-producer image wow fadeInUp animated" data-wow-duration="1500ms" style="visibility: visible; animation-duration: 1500ms; animation-name: fadeInUp;">
                    <a href="{{ url }}">
                        <img class="img-fluid rounded p-4 d-block mx-auto" src="{{ glide:producer_logo height='286' fit='crop_focal' }}" alt="{{ title | slugify | deslugify }}" style="object-fit:contain;"></div>
                    </a>
                <div class="content text-center">
                    <h4> <a class="link-dark" href="{{ url }}">{{ title }}</a></h4>
                    <div class="designation"><a class="link-dark" href="{{ url }}">{{ tag_line }}</a></div>
                </div>
            </div>

            {{ /if }}
            {{ /collection:producers }}

        </div>
        <div class="row">

            {{ collection:producers featured_producer:isnt="true" sort="title:asc"}}

            {{ if no_results }}
            {{ else }}

            <div class="col-lg-3 col-md-6 team-block-one">
                <div class="inner-box">
                    <div class="image">
                        <a href="{{ url }}">
                            <img src="{{ glide:producer_logo width='250' height='250' fit='crop_focal' }}" alt="{{ title }} - B.I.D. Producer">
                        </a>
                    </div>
                    <div class="content">
                        <a class="link-dark"  href="{{ url }}">
                            <h4>{{ title }}</h4>
                            <div class="designation">{{ tag_line }}</div>
                        </a>
                    </div>
                </div>
            </div>
            {{ /if }}
            
            {{ /collection:producers }}
            


        </div>
    </div>
</section>