<section class="recipes-section">
    <div class="auto-container">
        <div class="wrapper-box">
            <div class="recipe-block">
                <div class="row no-gutters">
                    <div class="col-lg-6 background-secondary m-0 py-5 d-flex justify-content-center">
                        <img class="img-fluid" src="{{ glide:producer_logo width='400' fit='crop_focal' }}">
                    </div>
                    <div class="col-lg-6">
                        <div class="content m-0">
                            <div>
                                <h2>{{ title }}</h2>

                                {{ if tag_line }}
                                <div class="text">{{ tag_line }}</div>
                                {{ /if }}

                                {{ if producer_link }}
                                <div class="producer-link mt-5">
                                    <a class="link-dark" href="{{ producer_link }}" target="_blank">View website</a>
                                </div>
                                {{ /if }}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 fieldset clearfix">

                {{ producer_bard_field }}
                {{ partial src="/partials/sets/{type}" }}
                {{ /producer_bard_field }}

            </div>
        </div>
    </div>
</section>

<!-- Our Products -->



<section class="products-section fieldset">
    <div class="auto-container">


        <h2 class="h1 mt-0 mb-5 text-center">Products</h2>
        <div class="theme_carousel owl-theme owl-carousel mb-5" id="nav-tab" role="tablist"
            data-options='{"loop": false, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": false, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>

            {{ collection:products product_producer:is="{id}" as="product" }}

            {{ if no_results }}
            Sorry, no products listed.
            {{ /if }}

            {{ product }}
            {{# *********** NAV ITEM #1 *************** #}}
            <a class="nav-item nav-link link-dark {{ if first }}active{{ /if }}"
                id="bid{{ id | truncate:7 | slugify }}-tab" data-toggle="tab" href="#bid{{ id | truncate:7 | slugify }}"
                role="tab" aria-controls="bid{{ id | truncate:7 | slugify }}" aria-selected="true">
                <div class="shop-item">
                    <div class="inner-box">

                        <div class="image">

                            <img src="{{ glide:product-image width='150' height='200' fit='crop_focal' }}"
                                alt="{{ title | slugify | deslugify }}">

                        </div>
                        <div class="lower-content">
                            <h4 class="m-0">{{ title }}</h4>
                        </div>
                    </div>
                </div>
            </a>

            {{ /product }}




        </div>


        <div class="auto-container">

            {{# *********  TAB CONTENT **************** #}}

            <div class="tab-content" id="myTabContent">


                {{# ************ TAB TAB TAB TAB ************** #}}

                {{ product }}

                <div class="tab-pane fade {{ if first }}active show {{ /if }}" id="bid{{ id | truncate:7 | slugify }}"
                    role="tabpanel" aria-labelledby="bid{{ id | truncate:7 | slugify }}-tab">
                    <div class="container m-0 p-0 mx-auto">
                        <div class="product-description mb-5 clearfix">
                            <h2 class="mt-0 mb-2 text-center">{{ title }}</h2>
                            <hr class="mb-5">
                            <div class="row">
                                <div class="col-md-3 text-center mb-3">
                                    <a data-fancybox="{{ type }}" href="{{ product-image }}">
                                    <img class="mb-3" src="{{ glide:product-image width='240' fit='crop_focal' }}"
                                        alt="{{ title }}">
                                    </a>

                                    {{ if product_sheet }}

                                    <div class="d-flex">
                                        <div class="product-buttons">
                                            <a href="{{ product_sheet }}" class="full-width-button theme-btn btn-style-one"
                                                target="_blank"> <span>Download Product Sheet</span></a>
                                        </div>
                                    </div>
                                    {{ /if }}


                                </div>
                                <div class="col-md-9">
                                    <div class="product-buttons">
                                    <div class="link-box mr-5 mb-4">
                                        <a href="{{ url }}" class="theme-btn btn-style-one py-2 px-3"><span>View product page</span></a>
                                    </div>
                                </div>
                                    {{ if awards_bard_field }}
                                    <div class="product-awards text-center">

                                        {{ awards_bard_field }}
                                        {{ partial src="/partials/sets/{type}" }}
                                        {{ /awards_bard_field }}


                                    </div>
                                    {{ /if }}

                                    {{ products_bard_field }}
                                    {{ partial src="/partials/sets/{type}" }}
                                    {{ /products_bard_field }}

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 product-buttons my-5 d-flex flex-wrap justify-content-center">


                                    {{ SKU }}
                                    <div class="link-box mr-5">

                                        <a href="{{ unless link_override }}
                                                http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                                                {{ else }}
                                                {{ link_override }}
                                                {{ /unless }}
                                                " class="theme-btn btn-style-one" target="_blank"><span>Where to Buy -
                                                {{ product_variant }}</span></a>
                                    </div>
                                    {{ /SKU }}


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{ /product }}
                {{# END OF ITEM #}}



            </div>


        </div>

        {{ /collection:products }}


    </div>
</section>


{{ section:scripts }}
<script>
    $(document).ready(function () {
        var li = $(".owl-item a");
        $(".owl-item a").click(function () {
            li.removeClass('active');
        });
    });

</script>


{{ /section:scripts }}
