<!-- Our Products -->
<section class="products-section">
    <div class="auto-container">
        <div class="row">

            {{#################################    COLUMN   #########################################}}

            <div class="col-12">

                <div class="product-buttons">
                    <div class="link-box mx-auto text-center mb-5">
                        <a href="/product-categories/non-alcoholic" class="theme-btn rounded"><span>Also check out our selection of non-alcoholic products</span></a>
                    </div>
                </div>
                <div class="row">

                    {{ collection:products paginate="true" as="products" limit="12"}}

                    {{ products }}

                    <div class="shop-item col-md-4 col-sm-6">
                        <div class="inner-box">
                            <div class="image">
                                <a href="{{ url }}">                              
                                    <img src="{{ glide:product-image width='80' height='150' fit='crop_focal' }}" alt="{{title}}">
                                </a>
                                
                            </div>
                            <div class="lower-content">
                                <h4><a href="{{ url }}">{{ title }}</a></h4>
                                <h5><a class="darklink" href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h5>
                                
                                {{ SKU }}
                                <a href="{{ unless link_override }}
                                    {{# This is the old code 
                                    http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                                    #}}
                                    https://www.liquorconnect.com/Products/Item/{{ sku }}
                                    {{ else }}
                                    {{ link_override }}
                                    {{ /unless }}" class="theme-btn mb-3">Buy - {{ product_variant }}</a>
                                {{ /SKU }}
                            </div>
                        </div>
                    </div>

                    {{ /products }}
                    


                    {{ paginate }}
                    <div class="shop-pagination">
                        <ul class="clearfix">

                            {{ if prev_page }}<li class="prev"><a href="{{ prev_page }}"><i class="fa fa-arrow-left"></i>Previous Page</a></li>{{ /if }}
                            
                            
                            {{ links:segments }}

                            {{ first }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /first }}
                
                            {{ if slider }}
                                <li class="disabled"><a href="#">...</a></li>
                            {{ /if }}
                
                            {{ slider }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /slider }}
                
                            {{ if slider || (!slider && last) }}
                                <li class="disabled"><span>...</span></li>
                            {{ /if }}
                
                            {{ last }}
                                {{ if page == current_page }}
                                    <li class="active"><a href="#">{{ page }}</a></li>
                                {{ else }}
                                    <li><a href="{{ url }}">{{ page }}</a></li>
                                {{ /if }}
                            {{ /last }}
                
                        {{ /links:segments }}

                        {{ if next_page }}<li class="next"><a href="{{ next_page }}">Next Page<i class="fa fa-arrow-right"></i></a></li>{{ /if }}
                    </ul>
                </div>

                {{ /paginate }}

                {{ /collection:products }}
            </div> 
        </div>
    </div>  
</section>