<section class="recipes-section">
    <div class="auto-container">
        <div class="wrapper-box row">
            <div class="col-lg-3 d-flex flex-column justify-content-start m-0">

                <a data-fancybox="{{ type }}" href="{{ product-image }}">
                {{ responsive:product-image alt="{title}" class="mb-4"}}
                </a>

                    <div class="d-flex">

                    {{ if product_sheet }}
                        <div class="product-buttons">
                            <a class="full-width-button theme-btn btn-style-one py-2 px-3 text-center" target="_blank"
                                href="{{ product_sheet }}"><span>Download Product Sheet</span></a>
                        </div>
                    {{ /if }}
                </div>
    
            </div>
            <div class="col-md-9 fieldset product-description clearfix">
                
                <h2 class="h3 mt-0 mb-4">Produced by <a class="link-dark"
                        href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h2>

                <div class="product-buttons">
                    <div class="link-box mr-5 mb-4">
                        <a href="{{ product_producer | get:url }}" class="theme-btn btn-style-one py-2 px-3"><span>Producer Details</span></a>
                    </div>
                    
                    {{ SKU }}
                    <div class="link-box mr-5 mb-4">
                        <a href="{{ unless link_override }}
                            {{# This is the old code 
                            http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                            #}}
                            https://www.liquorconnect.com/Products/Item/{{ sku }}
                            {{ else }}
                            {{ link_override }}
                            {{ /unless }}
                            " class="theme-btn btn-style-one py-2 px-3" target="_blank"><span>Where to Buy -
                                {{ product_variant }}</span></a>
                    </div>
                    {{ /SKU }}
                </div>
                {{ if awards_bard_field }}
                <div class="product-awards text-center">

                    {{ awards_bard_field }}
                    {{ partial src="/partials/sets/{type}" }}
                    {{ /awards_bard_field }}


                </div>
                {{ /if }}
                {{ products_bard_field }}
                {{ partial src="/partials/sets/{type}" }}
                {{ /products_bard_field }}

                <div class="product-buttons">
                {{ SKU }}
                    <div class="link-box mr-5 mt-5 mb-4">
                        <a href="{{ unless link_override }}
                            {{# This is the old code 
                            http://www.liquorconnect.com/Products/Pages/Product-Details-V2.aspx?SKU={{ sku }}
                            #}}
                            https://www.liquorconnect.com/Products/Item/{{ sku }}
                            {{ else }}
                            {{ link_override }}
                            {{ /unless }}
                            " class="theme-btn btn-style-one py-2 px-3" target="_blank"><span>Where to Buy -
                                {{ product_variant }}</span></a>
                    </div>
                    {{ /SKU }}
                </div>

            </div>
        </div>
    </div>
</section>

<section class="products-section">

    <div class="auto-container">
        <div class="sec-title text-center">
            <h2>Other products by <a class="link-dark"
                    href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h2>
            <div class="text">Yours to discover at a retailer near you.</div>
        </div>
        <div class="theme_carousel owl-theme owl-carousel"
            data-options='{"loop": true, "margin": 40, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "3" } , "992":{ "items" : "4" }, "1200":{ "items" : "4" }}}'>


            {{ collection:products product_producer:is="{page:product_producer | get:id }" as="product" }}

            {{ if no_results }}
            Sorry, no products listed.
            {{ /if }}

            {{ product }}
            <div class="shop-item">
                <div class="inner-box">
                    <div class="image">
                        <a href="{{ url }}"><img
                                src="{{ glide:product-image width='120' height='150' fit='crop_focal'}}"
                                alt="{{ title }}"></a>
                    </div>
                    <div class="lower-content">
                        <h4><a class="darklink" href="{{ url }}">{{ title }}</a></h4>

                        <h5><a class="darklink"
                                href="{{ product_producer | get:url }}">{{ product_producer | get:title }}</a></h5>



                    </div>
                </div>
            </div>
            {{ /product }}
            {{ /collection:products }}

        </div>
    </div>
</section>
