<div class="auto-container">
    <div class="col my-5 fieldset">

        {{ search:results as="results"}}
        <h2>Searching for:  "{{ get_post:q }}"</h2>
        
        
        <div class="widget widget_search">

            <form action="/search">
                <div class="form-group">
                    <fieldset>
                        <input type="search" name="q" placeholder="Search Again ..." required="">
                        <button type="search"><i class="stroke-gap-icon icon-Search"></i></button>
                    </fieldset>
                </div>
            </form>
        </div>
        

        {{ if no_results }}
        <h4>Sorry.  No results.</h4>
        {{ else }}


        <h4>{{ total_results }} {{ unless total_results == 1 }}results{{ else }}result{{/if}}!</h4>
        {{ results }}
        <a class="link-dark" href="{{ url }}">
            <h4 class="mt-0 mb-3">{{ count }}. {{ title }} - <span class="collection">{{ collection }}</span></h4>
        </a>
        {{ /results }}
        {{ /if }}
        {{ /search:results }}

    </div>
</div>


{{ partial:partials/products }}


{{ partial:partials/blog-block }}
